<div class="one888-home-wrappper relative">
    <section class="one888-home-section-one relative" id="one888-home-section-one">
        <div class="home_banner_video relative">
            <video muted autoplay>
                <source src="assets/images/home/banner-video.mp4" type="video/mp4">
            </video>
            <div class="black_overlay"></div>
            <div class="bannerText inner-flex medium-gap-size">
                <div class="banner-title">
                    <h1 class="white-color">
                        Charge Ahead with <br> 1888 EV
                    </h1>
                </div>
                <div class="animation-btn hidden-xs hidden-sm">
                    <button>
                        <p>Our Solution</p>
                        <div class="side-btn-arrow">
                            <i class="right-arrow-1 fa fa-arrow-right"></i>
                            <i class="right-arrow-2 fa fa-arrow-right"></i>
                        </div>
                    </button>
                </div>
            </div>
            <div class="banner-tagline-text">
                <div class="section-subtitle">
                    <h3 class="white-color">
                        Your Smart Destination for <br>
                        Future-Ready EV Charging Solutions
                    </h3>
                </div>
                <div class="explore-text link-fonts">
                    <span class="white-color">Explore</span>
                    <i class="white-color fa fa-arrow-down"></i>
                </div>
            </div>

        </div>
    </section>